button {
    display: block;
    margin: 10px auto;
}

#reset {
    display: block;
    margin: 10px auto;
    color: red;
}


div {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 5px;
    float: left;
    color: white;
    text-align: center;
    line-height: 30px;
    border: 2px solid black;
}

.circle {
    background-color: azure;
    border-radius: 50%;
    color: black;
    border: 2px solid black;
    margin-bottom: ;
}

#startNumber {
    display: block;
    margin: 10px auto;

}

#spanText {
    text-align: center;
    display: block;
    margin: 10px auto;
}